<ol class='gamepad' ng-click='showcontrols = !showcontrols' ng-init='showcontrols = false'>
<li class='steering horizontal'>
		<div class='bar' ng-style='{right: (controls.steering > 0? 50 - controls.steering * 50 : 50) + "%", left: (controls.steering > 0? 0 : controls.steering * 50) + "%"}'></div>
	</li>
	<li class='boost'>
		<div class='button' ng-class='{down: controls.boost}'>&uArr;</div>
	</li>
	<li class='e-brake'>
		<div class='button' ng-class='{down: controls.ebrake}'>E</div>
	</li>
	<li class='brake vertical'>
		<div class='bar' ng-style='{top: 100 - controls.brake * 100 + "%"}'></div>
	</li>
	<li class='gas vertical'>
		<div class='bar' ng-style='{top: 100 - controls.gas * 100 + "%"}'></div>
	</li>
	<li class='shifter' ng-if='keybinds.manual'>
		<div class='up-btn button' ng-class='{down: controls.shiftup}'>&#9650;</div>
		<div class='down-btn button' ng-class='{down: controls.shiftdn}'>&#9660;</div>
	</li>
</ol>
<table ng-if='showcontrols'>
	<tr>
		<td>Name</td><td>Index</td><td>Axis</td>
	</tr>
	<tr>
		<td>Controller index:</td><td><input type='text' ng-model='keybinds.controller'></td>
	</tr>
	<tr>
		<td>Steering:<td><input type='text' ng-model='keybinds.steering.index'><td><input type='checkbox' ng-model='keybinds.steering.axis'> </tr>
	</tr>
	<tr>
		<td>Brake:</td><td><input type='text' ng-model='keybinds.brake.index'></td><td><input type='checkbox' ng-model='keybinds.brake.axis'></td>
	</tr>
	<tr>
		<td>Gas:</td><td><input type='text' ng-model='keybinds.gas.index'></td><td><input type='checkbox' ng-model='keybinds.gas.axis'></td>
	</tr>
	<tr>
		<td>Boost:</td><td><input type='text' ng-model='keybinds.boost.index'></td><td></td>
	</tr>
	<tr>
		<td>E-brake:</td><td><input type='text' ng-model='keybinds.ebrake.index'></td><td></td>
	</tr>
	<tr>
		<td>Shift Up:</td><td><input type='text' ng-model='keybinds.shiftup.index'></td><td></td>
	</tr>
	<tr>
		<td>Shift Down:</td><td><input type='text' ng-model='keybinds.shiftdn.index'></td><td></td>
	</tr>
	<tr>
		<td>Show shifter:</td><td><input type='checkbox' ng-model='keybinds.manual'></td><td><button type='button' ng-click='saveBindings()'>Save</button></td>
	</tr>
</table>